.header_icons{

    height: 20vw;
    


    @keyframes slideInFromLeft {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
    
    @keyframes slideInFromRight {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
    


    .header_icons-1{
        display: flex;
        position: relative;
        bottom: -1vw;
        left: 4vw;
        animation: slideInFromLeft 0.5s ease-out;

        i{
            font-size: 10vw;
            color: white;
            


        }

    }

    .header_icons-2{
        display: flex;
        position: relative;
        bottom: 15vw;
        left: 85vw;
        animation: slideInFromRight 1s ease-out;

        i{
            font-size: 10vw;
            color: white;
            


        }
        
    }

    .header_icons-3{
        display: flex;
        position: relative;
        bottom: 15vw;
        left: 54vw;
        animation: slideInFromRight 1.5s ease-out;

        i{
            font-size: 10vw;
            color: white;
            


        }
        
    }

    .header_icons-4{
        animation: slideInFromLeft 1.5s ease-out;
        display: flex;
        position: relative;
        bottom: 40vw;
        left: 34vw;
        z-index: 0;

        i{
            font-size: 10vw;
            color: white;
            


        }
        
    }
    .header_icons-5{
        animation: slideInFromRight 0.5s ease-out;
        display: flex;
        position: relative;
        bottom: 28vw;
        left: 90vw;
        z-index: 0;

        i{
            font-size: 10vw;
            color: white;
            


        }
        
    }

    .header_icons-6{
        animation: slideInFromLeft 0.7s ease-out;
        display: flex;
        position: relative;
        bottom: 37vw;
        left: 24vw;
        z-index: 0;

        i{
            font-size: 10vw;
            color: white;
            


        }
        
    }
    


}